<%- include('../../Components/Header/index') %>
<body>
    <div class="container">
        <hr>

        <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <%- article.content %>
                </div>
        </div>

    </div>
</body>
<%- include('../../Components/Footer/index') %>